
* {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    text-align: left;
  }
  
body {
    background-color: rgb(11, 0, 40);
    color: white;
  }

  :root {
    --green: #3fff26;
    --lightGreen: #bdffb4;
    --pink: #ff47c5;
    --lightPink: #fed3ff;

  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  .hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }